@font-face {
  font-family: 'Gilroy';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("GilroyRegular.woff") format("woff"),
}

@font-face {
  font-family: 'Gilroy';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("Gilroy-Black.woff") format("woff"),
}